#map
#content
  .inner
    %article.body
      %header
        %h1 Blake Simpson
        
      %section.description
        %p 
          I am a Web Developer who enjoys creating websites and applications using technologies such as 
          %span Ruby on Rails, 
          %span JavaScript
          and 
          %span CSS
          
        %p
          I have moved from 
          %a.dundee{:href => '#'} Dundee
          to
          %a.hamburg{:href => '#'} Hamburg
          and I now work for 
          %a{:href => 'http://ubilabs.net/', :rel => 'blank'} Ubilabs,
          building Location Based Media applications.
        
           
    %aside.profile
      .loading
      %img{:src => '#', :alt => 'Twitter profile image'}
      
    %footer.links
      .sites
        %nav
          %ul
            %li
              %a{:href => 'http://twitter.com/brsim', :class => 'twitter'} Twitter
            %li
              %a{:href => 'http://facebook.com/Blake121', :class => 'facebook'} Facebook
            %li
              %a{:href => 'http://github.com/BlakeSimpson', :class => 'github'} Github
            %li
              %a{:href => 'http://last.fm/user/blake121', :class => 'lastfm'} Last.fm
        
      .blog
        %a{:href => 'http://blog.blakesimpson.co.uk/'} Visit Blog
        
      .clear
      
      
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18113827-2']);
  _gaq.push(['_trackPageview']);
  
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();