#map
#content
  .inner
    %header
      %h1 Blake Simpson
      
    %aside.profile
      %img{:src => 'http://graph.facebook.com/520161772/picture?type=large', :alt => 'Facebook profile image'}
      
    %footer.links