#map
#content
  .inner
    %article.body
      %header
        %h1 Blake Simpson

      %section.description
        %p
          I am a Web Developer who enjoys creating websites and applications using technologies such as
          %span JavaScript,
          %span Ruby on Rails,
          %span HTML5,
          and
          %span CSS3.

        %p
          I have moved from
          %a.dundee{:href => '#'} Dundee
          to
          %a.hamburg{:href => '#'} Hamburg.

        %p
          If you would like to get in touch with me, my e-mail address is
          %span blakersim@gmail.com


    %aside.profile
      .loading
      %img{:src => '#', :alt => 'Twitter profile image'}

    %footer.links
      .sites
        %nav
          %ul
            %li
              %a{:href => 'http://twitter.com/brsim', :class => 'twitter'} Twitter
            %li
              %a{:href => 'https://www.xing.com/profile/Blake_Simpson', :class => 'xing'} Xing
            %li
              %a{:href => 'http://github.com/BlakeSimpson', :class => 'github'} Github

      .blog
        %a{:href => 'http://blog.blakesimpson.co.uk/'} Visit Blog

      .clear


:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28909977-1']);
  _gaq.push(['_setDomainName', 'blakesimpson.co.uk']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
