@import compass_twitter_bootstrap
@import compass/reset
@import compass/css3

body
  color: #333
  font:
    size: 14px
    family: Signika, "Trebuchet MS", Verdana, sans-serif

#map
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  
#content
  position: absolute
  top: 50%
  left: 50%
  height: 145px
  width: 600px
  margin: -72px 0 0 -300px
  background: url('../images/background.png')
  padding: 20px
  +border-radius(5px)
  +box-shadow(0px 0px 8px #444)
  
  .inner  
    header
      float: left
      h1
        font-size: 44px
      
    .profile
      float: right
      img
        +border-radius(5px)
        +box-shadow(0px 0px 5px #777)
        
    .links
      clear: both