@import compass/reset
@import compass/css3
@import settings

body
  color: #333
  font:
    size: 14px
    family: $font_stack

#map
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  
#content
  position: absolute
  top: 50%
  left: 50%
  height: 250px
  width: 600px
  margin: -125px 0 0 -300px
  background: url('../images/background.png')
  padding: 20px
  border: 2px solid $col_gray
  +border-radius(3px)
  +box-shadow(0px 0px 8px #444)
  
  .inner  
    header
      h1
        font-size: 44px
        
    article.body
      .profile
        float: right
        img
          width: 190px
          +border-radius(3px)
          +box-shadow(0px 0px 5px #777)
        
    .links
      clear: both